* {
    display: flexbox;
}

body {
    background-color: rgba(226, 226, 226, 0.367); 
}

.logo,
.main-body,
.foot-section {
    margin-left: 5rem;
    margin-right: 5rem;
}


/* --------------------- Logo Styling ------------------------ */

.logo {
    margin: auto;
    text-align: center;
    font-size: 2rem;
    text-shadow:black;
    
}

/* --------------------- End of logo Styling ---------------- */

/* ---------------------- Play Area Styling ----------------------- */

.main-body {
    background: rgba(160, 210, 193, 0.396);
    margin-top: 1rem;
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* ---------------------- Footer Styling ----------------------- */

.foot-section {
    display: flex;
    align-items:baseline;
}

.foot-section .footer-element-1 {
    flex: 1;
    font-weight: bold;
}

.foot-section .footer-element-2,
.foot-section .footer-element-3,
.foot-section .footer-element-4,
.foot-section .footer-element-5,
.foot-section .footer-element-6 {
    flex: 0.025;
} 

.foot-section .footer-element-2 a,
.foot-section .footer-element-3 a,
.foot-section .footer-element-4 a,
.foot-section .footer-element-5 a,
.foot-section .footer-element-6 a{
    color: rgba(0, 0, 0,1);
}

/*---------------------- End of Footer Styling -----------------*/